@font-face {
  font-family: 'GFS Georgiou';
  src: url("../fonts/GFSGeorgiou-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Averta';
  src: url("../fonts/Averta-Regular.ttf") format("truetype");
  src: url("../fonts/Averta-Bold.ttf") format("truetype");
  src: url("../fonts/Averta-Semibold.ttf") format("truetype");
  src: url("../fonts/Averta-Light.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvertaStd';
  src: url("../fonts/FontsFree-Net-AvertaStandard-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

:root {
  --fontAverta: 'Averta';
  --fontAvertaStd: 'AvertaStd';
  --fontGeorgiou: 'GFS Georgiou';
  --white: #ffffff;
  --white-dark1: #F8F8F7;
  --black-07: #070707;
  --green: #669583;
  --black: #000000;
  --black-26: #262626;
  --black-light: #2B2E34;
  --gold-veryDark: #97875B;
  --gold-dark: #8E7E52;
  --gold: #B5A26D;
  --gold-light: #D7C080;
  --grey-70:#707070;
  --grey-9E: #9E9E9E;
  --gold-xlight: #DFD9CF;
  --gold-xxlight: #F5F2ED;
  --pink: #C19E9A;
}

.whiteBg {
  background-color: var(--white);
}

.whiteDarkBg {
  background-color: var(--white-dark1);
}

.goldBg {
  background-color: var(--gold-dark);
  color: var(--white);
}

.greenBg {
  background-color: var(--green);
  color: var(--white);
}

.blackBg {
  background-color: var(--black-26);
  color: var(--white);
}

.pinkBg {
  background-color: var(--pink);
  color: var(--white);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--fontAverta);
  font-weight: 300;
  font-size: 19px;
  line-height: 30px;
  text-align: left;
  color: var(--black-light);
  letter-spacing: 0px;
  background-color: var(--white-dark1);
}

@media screen and (max-width: 991px) {
  body {
    font-size: 17px;
    line-height: 28px;
  }
}

h1, h2, h3, .h1, .h2 {
  font-family: var(--fontGeorgiou);
  margin-bottom: 20px;
  position: relative;
}

h1, .h1 {
  font-size: 76px;
  line-height: 86px;
  letter-spacing: -1.52px;
}

h2, .h2 {
  font-size: 68px;
  line-height: 74px;
  letter-spacing: -1.36px;
}

h3, .h3 {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0px;
}

@media screen and (max-width: 1440px) {
  h1, .h1 {
    font-size: 66px;
    line-height: 76px;
  }
  h2, .h2 {
    font-size: 66px;
    line-height: 76px;
  }
  h3, .h3 {
    font-size: 45px;
    line-height: 65px;
  }
}

@media screen and (max-width: 991px) {
  h1, .h1 {
    font-size: 48px;
    line-height: 58px;
  }
  h2, .h2 {
    font-size: 48px;
    line-height: 58px;
  }
  h3, .h3 {
    font-size: 36px;
    line-height: 58px;
  }
}

@media screen and (max-width: 340px) {
  h1, .h1 {
    font-size: 40px;
    line-height: 50px;
  }
  h2, .h2 {
    font-size: 40px;
    line-height: 50px;
  }
  h3, .h3 {
    font-size: 30px;
    line-height: 40px;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.smallText {
  font: normal normal normal 13px/26px var(--fontAvertaStd);
  letter-spacing: 0.65px;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
}

.smallText img {
  width: 16px;
  height: 18px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  margin-bottom: 2.5px;
  margin-right: 20px;
}

.btn {
  font: normal normal 500 13px/26px var(--fontAvertaStd);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.65px;
  color: var(--white-dark1) !important;
  height: 58px;
  border-radius: 0;
  border: none;
  padding: 17px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.bookButton {
  background: var(--gold);
  width: 178px;
}

.bookButton:hover {
  background: var(--gold-veryDark);
}

.btnBig {
  background-color: transparent;
  border: 1px solid var(--gold);
  width: 182px;
}

.btnBig:hover {
  border: 1px solid var(--gold);
  background-color: var(--gold);
}

.signBtn {
  background-color: var(--black-light);
  width: 145px;
  height: 46px;
  padding: 10px;
}

.signBtn:hover {
  background-color: var(--gold-veryDark);
}

button:focus,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

.link {
  font-weight: 700;
  width: 146px;
  height: 32px;
  color: var(--gold) !important;
  position: relative;
  padding: 0;
  text-align: right;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.link.linkLight {
  color: var(--gold-light) !important;
}

.link.whiteLink {
  color: var(--white) !important;
}

.link::before {
  content: "";
  background: url(../images/varius/ArrowCircleLight.svg) no-repeat;
  display: inline-block;
  width: 100%;
  height: 35px;
  position: absolute;
  left: 5px;
  bottom: 1px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.link.linkLight::before {
  background: url(../images/varius/ArrowCircleXLight.svg) no-repeat;
}

.link.whiteLink::before {
  background: url(../images/varius/aspro-velos-kyklos.svg) no-repeat;
}

.link:hover {
  color: var(--gold-dark) !important;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.link.linkLight:hover {
  color: var(--white) !important;
}

.link.whiteLink:hover {
  color: var(--white) !important;
}

.link:hover::before {
  content: "";
  background: url(../images/varius/ArrowGoldDark.svg) no-repeat;
  width: 100%;
  height: 10px;
  left: 20px;
  bottom: 14px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.link.whiteLink:hover::before, .link.linkLight:hover::before {
  background: url(../images/varius/aspro-velos.svg) no-repeat;
}

.padding-distances-bg {
  padding: 120px 180px;
}

.padding-distances-sm {
  padding: 120px 100px;
}

@media screen and (max-width: 1440px) {
  .padding-distances-bg {
    padding: 120px 100px;
  }
  .padding-distances-sm {
    padding: 120px 80px;
  }
}

@media screen and (max-width: 1199px) {
  .padding-distances-bg {
    padding: 100px 70px;
  }
  .padding-distances-sm {
    padding: 120px 60px;
  }
}

@media screen and (max-width: 991px) {
  .padding-distances-bg {
    padding: 120px 45px;
  }
  .padding-distances-sm {
    padding: 120px 30px;
  }
}

@media screen and (max-width: 575px) {
  .padding-distances-bg, .padding-distances-sm {
    padding: 60px 15px 80px;
  }
}

.blackImg {
  -webkit-filter: grayscale(5);
          filter: grayscale(5);
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.blackImg:hover {
  -webkit-filter: none;
          filter: none;
}

.underLineHeading::after {
  content: " ";
  display: block;
  width: 150px;
  height: 1px;
  background: var(--gold-light);
}

.blackUnderline::after {
  background: var(--black-light);
}

.lineBefore {
  position: relative;
}

.lineBefore::before {
  content: " ";
  display: inline-block;
  width: 120px;
  height: 1px;
  margin-left: 20px;
  margin-bottom: 12px;
  margin-right: 20px;
  background: var(--gold-light);
}

.flex-eq-col-width {
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  -webkit-box-flex: 1;
          flex: 1;
}

.header {
  background-color: var(--white);
  padding: 0px 40px;
  height: 145px;
  font-family: var(--fontAvertaStd);
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.75px;
}

.header.menuHeader {
  z-index: 10000000000;
  background: transparent;
  color: var(--white);
}

.header .logomain {
  text-align: center;
}

.header.tiny {
  height: 80px;
}

.header.tiny .headerLogo {
  width: 121px;
  height: 59px;
}

.header .headerLogo {
  height: 86px;
  width: 177px;
}

.header.menuHeader .headerLogo {
  display: none;
}

.header.menuHeader .whiteLogo {
  display: inline-block !important;
}

.header .tel img {
  margin-bottom: 4px;
}

.header.menuHeader .tel img {
  display: none;
}

.header .mobileTel img {
  width: 25px;
}

.header.menuHeader .tel .whiteTel {
  display: inline-block !important;
}

.header .header-left a {
  color: var(--black-light);
}

.header.menuHeader .header-left a {
  color: var(--white);
}

.header .bookButton {
  width: 140px;
  height: 46px;
  padding: 11px;
}

.weather-booked-vertical-one-prime {
  width: 175px !important;
  color: var(--black-light) !important;
}

.header.menuHeader .weather-booked-vertical-one-prime {
  color: var(--white) !important;
}

.booked-vertical-prime .booked-bwop-today-extreme {
  display: none !important;
}

.bwop-city {
  display: none !important;
}

.weather-booked-vertical-one-prime *,
.weather-booked-vertical-one-prime .booked-vertical-prime .booked-bwop-number {
  font: normal 15px/26px var(--fontAvertaStd) !important;
  letter-spacing: 0.75px !important;
}

.booked-vertical-prime {
  background: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px !important;
}

.bwop-icon {
  margin: 0 !important;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.booked-vertical-prime .bwop-state {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: 8px;
  color: var(--black-light) !important;
}

.header.menuHeader .booked-vertical-prime .bwop-state {
  color: var(--white) !important;
}

.booked-vertical-prime .booked-bwop-today {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-left: 8px;
}

.booked-vertical-prime .booked-bwop-today-temperature {
  margin-bottom: 0 !important;
}

.booked-vertical-prime .booked-bwop-dergee {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.booked-vertical-prime .booked-wzs-bwop-dergee-val {
  font-size: 18px !important;
  height: 12px !important;
  margin-top: -15px !important;
}

.booked-vertical-prime .booked-wzs-bwop-val {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1440px) {
  .header {
    padding: 0px 25px;
  }
  .weather-booked-vertical-one-prime {
    width: 150px !important;
  }
}

@media screen and (max-width: 991px) {
  #m-booked-vertical-one-prime-82549 {
    display: none !important;
  }
  .header {
    height: 100px;
  }
  .header .headerLogo {
    width: 113px;
    height: 55px;
  }
  .header.tiny .headerLogo {
    width: 100px;
    height: 50px;
  }
}

@media screen and (max-width: 575px) {
  .header .bookButton {
    width: 100px;
    height: 40px;
    padding: 8px;
  }
  .header {
    padding: 0px 15px;
  }
}

@media screen and (max-width: 380px) {
  .header .bookButton {
    width: 85px;
    height: 48px;
    padding: 6px;
    font: normal normal 500 12px/20px var(--fontAvertaStd);
  }
}

.header .menu-btn {
  width: 120px;
  background: url(../images/varius/toggler.svg) no-repeat right 2px;
  cursor: pointer;
}

.header.menuHeader .menu-btn {
  background: url(../images/varius/closeMenu.svg) no-repeat right 2px;
}

.header.menuHeader .menu-btn.closeMenu {
  display: inline-block !important;
}

.header.menuHeader .menu-btn.openMenu {
  display: none;
}

.menu-container {
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url(../images/varius/ON-Residence-Corridor.jpg) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../images/varius/ON-Residence-Corridor.jpg) no-repeat center center/cover;
  overflow-y: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

.menu-content {
  height: 100vh;
  display: block;
  position: relative;
  margin-top: 8vh;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow-y: scroll;
}

.menu-content .menu-items a {
  font: normal normal normal 36px/44px var(--fontGeorgiou);
  padding: 5px;
  text-decoration: none;
  color: var(--white);
  display: block;
  text-align: center;
  margin: 5px 0px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.menu-content a:hover {
  color: var(--gold);
}

.menu-contact {
  font: normal normal normal 15px/26px Averta Std;
  letter-spacing: 0.75px;
  color: var(--white);
  text-align: center;
}

.menu-contact a {
  color: var(--white);
  padding-bottom: 5px;
  border-bottom: 1px solid;
}

.menu-contact .social ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.menu-contact .social ul li a {
  border: none;
  padding: 0px 10px;
}

@media screen and (max-width: 1199px) {
  .menu-content .menu-items a {
    font: normal normal normal 28px/40px var(--fontGeorgiou);
  }
}

@media screen and (max-width: 991px) {
  .menu-btn span {
    visibility: hidden;
    opacity: 0;
  }
  .header .menu-btn {
    width: 50px;
  }
}

@media screen and (max-width: 380px) {
  .header .menu-btn {
    width: 40px;
  }
  .header.menuHeader .menu-btn {
    width: 50px;
  }
}

@media screen and (max-height: 700px) {
  .menu-content .menu-items a {
    font: normal normal normal 18px/22px var(--fontGeorgiou);
  }
}

@media screen and (max-height: 550px) {
  .menu-content .menu-items a {
    font: normal normal normal 15px/18px var(--fontGeorgiou);
    margin: 0px;
  }
}

/* TOP CAROUSEL  */
.carousel,
.carousel-inner,
.carousel-item {
  width: 100%;
  height: 100%;
}

.topCarousel {
  height: 100%;
  position: relative;
}

#bgCarouselSlider .carousel-item .overlay {
  height: 100vh;
  background-size: cover;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

.topCarousel .carousel .carousel-control-prev,
.topCarousel .carousel .carousel-control-next {
  visibility: hidden;
  width: 100px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.topCarousel .carousel:hover .carousel-control-prev,
.topCarousel .carousel:hover .carousel-control-next {
  visibility: visible;
}

.topCarousel .carousel .carousel-control-prev .carousel-control-prev-icon,
.topCarousel .carousel .carousel-control-next .carousel-control-next-icon {
  width: 32px;
  height: 50px;
}

.topCarousel .caption {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--white);
}

/*RESPONSIVE CAROUSEL  */
@media (max-width: 767px) {
  #bgCarouselSlider .carousel-item {
    height: 100vh;
  }
  #bgCarouselSlider .carousel-inner {
    margin-top: 0x;
  }
  .topCarousel .carousel .carousel-control-prev, .topCarousel .carousel .carousel-control-next {
    top: 30px;
  }
}

/*END TOP CAROUSEL  */
.arrow-wrap {
  z-index: 1000;
  position: absolute;
  bottom: -4%;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  color: var(--white);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.arrow-wrap img {
  width: 45px;
  display: block;
  margin: auto;
  -webkit-transform: rotate(-35deg) scale(1);
          transform: rotate(-35deg) scale(1);
  margin-top: 10px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.arrow-wrap:hover img {
  -webkit-transform: rotate(-33deg) scale(1.5);
          transform: rotate(-33deg) scale(1.5);
}

.arrow-wrap span {
  margin-bottom: 20px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.arrow-wrap:hover span {
  margin-bottom: 15px;
}

.welcome p {
  padding: 20px 80px 0px 0px;
}

.welcome .h3 {
  display: inline-block;
  border-top: 1px solid var(--black-light);
  padding-top: 10px;
}

@media screen and (max-width: 991px) {
  .welcome p {
    padding: 20px 0px 0px 0px;
  }
}

@media screen and (max-width: 767px) {
  .welcome img {
    width: 60%;
  }
}

.accommodation {
  color: var(--white);
}

.accommodation .container p {
  padding: 10px 20% 0px;
}

.accommodation .accommodation-box {
  width: 300px;
}

@media screen and (max-width: 767px) {
  .accommodation .accommodation-box {
    padding: 10px 20px 0px;
    width: 90%;
  }
  .accommodation .container p {
    padding: 10px 10% 0px;
  }
  .accommodation .underLineHeading {
    font-size: 36px;
    line-height: 58px;
  }
}

#tabs {
  position: relative;
}

#tabs ul {
  list-style: none;
}

#tabs li.tab {
  margin-left: 50%;
  cursor: pointer;
}

#tabs li.tab .tab-box {
  z-index: 2;
  margin-bottom: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

#tabs .tabcontent {
  position: absolute;
  z-index: 1;
  top: 14%;
  left: 200px;
  text-align: center;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

#tabs li.staticImg img.bottom {
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

#tabs li.tab:hover .tab-box {
  z-index: 2;
  color: var(--green);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#tabs li.staticImg img:hover {
  z-index: 2;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#tabs li.staticImg .tabcontent {
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#tabs li.tab .tabcontent {
  opacity: 0;
}

#tabs:hover .tabcontent, #tabs:focus .tabcontent,
#tabs:active .tabcontent {
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#tabs li.tab:hover .tabcontent, #tabs li.tab:focus .tabcontent,
#tabs li.tab:active .tabcontent {
  z-index: 3;
  background-color: var(--white-dark1);
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#tabs li.staticImg:hover .tabcontent, #tabs li.staticImg:focus .tabcontent,
#tabs li.staticImg:active .tabcontent {
  z-index: 3;
  background-color: var(--white-dark1);
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#tabs li.staticImg {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#tabs .tabcontent img {
  width: 480px;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#tabs .h1 {
  display: inline-block;
  padding-left: 35px;
}

#tabs .tab-box .smallText {
  margin-top: 27px;
}

#tabs li.tab:hover .tab-box .smallText {
  color: var(--black-light);
}

#tabs .title {
  padding-left: 54%;
}

@media screen and (min-width: 2000px) {
  #tabs .tabcontent {
    left: 20%;
  }
}

@media screen and (max-width: 1700px) {
  #tabs .h1 {
    font-size: 60px;
    line-height: 70px;
  }
}

@media screen and (max-width: 1440px) {
  #tabs .h1 {
    font-size: 58px;
    line-height: 68px;
  }
  #tabs .tabcontent {
    left: 100px;
  }
}

@media screen and (max-width: 1199px) {
  #tabs .h1 {
    font-size: 48px;
    line-height: 58px;
  }
  #tabs .tabcontent {
    left: 60px;
  }
  #tabs li.tab {
    margin-left: 60%;
  }
  #tabs .title {
    padding-left: 65%;
  }
}

@media screen and (max-width: 991px) {
  #tabs .h1 {
    font-size: 30px;
    line-height: 40px;
  }
  #tabs .tab-box .smallText {
    margin-top: 20px;
  }
  #tabs .tabcontent {
    left: 40px;
    top: 10%;
  }
  #tabs li.tab {
    margin-left: 68%;
  }
  #tabs .title {
    padding-left: 74%;
  }
  #tabs li.tab .tab-box {
    margin-bottom: 0px;
  }
  .helpContainer {
    margin-top: 10px;
  }
  #tabs .tabcontent img {
    width: 400px;
  }
}

@media screen and (max-width: 767px) {
  #tabs .tabcontent img {
    width: 500px;
  }
  #tabs li.tab {
    margin-left: 10%;
  }
  #tabs .title {
    padding-left: 0%;
    text-align: center;
  }
  .helpContainer {
    margin-top: 665px;
  }
  #tabs .tabcontent {
    left: 50%;
    top: 6%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #tabs .h1 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width: 575px) {
  #tabs .tabcontent img {
    width: 380px;
  }
  .helpContainer {
    margin-top: 480px;
  }
  #tabs .h1 {
    padding-left: 25px;
  }
  #tabs li.tab {
    margin-left: 5%;
  }
}

@media screen and (max-width: 400px) {
  #tabs .tabcontent img {
    width: 280px;
  }
  .helpContainer {
    margin-top: 400px;
  }
  #tabs .h1 {
    padding-left: 25px;
  }
  #tabs li.tab {
    margin-left: 5%;
  }
}

.specialOffers {
  color: var(--white);
}

.specialOffers .offersCarousel {
  padding: 0px 150px;
}

.specialOffers .offersCarousel .offers-box {
  padding: 10px 80px;
}

.offersCarousel.owl-carousel .owl-nav .owl-prev {
  background: url(../images/varius/leftArrowCircle.png) no-repeat;
  float: left;
}

.offersCarousel.owl-carousel .owl-nav .owl-next {
  background: url(../images/varius/rightArrowCircle.png) no-repeat;
  float: right;
}

.offersCarousel.owl-carousel .owl-nav .owl-prev, .offersCarousel.owl-carousel .owl-nav .owl-next {
  height: 100px;
  width: 100px;
  position: relative;
}

.offersCarousel.owl-carousel .owl-nav {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
}

.specialOffers h2 {
  display: inline-block;
}

.specialOffers #counter {
  letter-spacing: 0.75px;
  display: inline-block;
  margin-left: 100px;
}

@media screen and (max-width: 1199px) {
  .specialOffers .offersCarousel {
    padding: 0px 120px;
  }
  .offersCarousel.owl-carousel .owl-nav {
    top: 19%;
  }
  .offersCarousel.owl-carousel .owl-nav .owl-prev, .offersCarousel.owl-carousel .owl-nav .owl-next {
    background-size: 80px;
  }
}

@media screen and (max-width: 767px) {
  .specialOffers .offersCarousel {
    padding: 0px 0px;
  }
}

@media screen and (max-width: 575px) {
  .specialOffers .offersCarousel {
    padding: 0px 0px;
  }
  .specialOffers #counter {
    display: block;
    margin-left: 0;
  }
  .specialOffers .offersCarousel .offers-box {
    padding: 10px 20px;
  }
}

.awardsHome ul li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 100px;
}

.awardsHome ul li:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 1440px) {
  .awardsHome ul li {
    margin-right: 70px;
  }
}

@media screen and (max-width: 1199px) {
  .awardsHome ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .awardsHome ul li {
    margin-right: 0px;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media screen and (max-width: 360px) {
  .awardsHome ul li {
    text-align: center;
    margin-top: 5px;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.bookNowSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.bookNowSection img {
  position: relative;
  z-index: 2;
}

.bookNowSection .bigTitle {
  font: normal normal normal 217px/42px var(--fontGeorgiou);
  letter-spacing: -4.34px;
  text-transform: uppercase;
  position: absolute;
  z-index: 0;
  color: var(--gold-xlight);
}

@media screen and (max-width: 1440px) {
  .bookNowSection .bigTitle {
    font-size: 180px;
  }
  .bookNowSection img {
    width: 500px;
  }
}

@media screen and (max-width: 1199px) {
  .bookNowSection .bigTitle {
    font-size: 120px;
  }
}

@media screen and (max-width: 767px) {
  .bookNowSection .bigTitle {
    font-size: 90px;
  }
  .bookNowSection img {
    width: 350px;
  }
}

@media screen and (max-width: 480px) {
  .bookNowSection .bigTitle {
    font-size: 60px;
  }
  .bookNowSection img {
    width: 250px;
  }
}

@media screen and (max-width: 360px) {
  .bookNowSection .bigTitle {
    font-size: 52px;
  }
  .bookNowSection img {
    width: 200px;
  }
}

.footer h3 {
  letter-spacing: -0.96px;
}

.footer .col-md-6 {
  padding: 100px 80px 150px;
}

.footer .leftSide {
  background: url(../images/varius/footer.svg) no-repeat center bottom;
}

.footer .rightSide {
  background-color: var(--gold-xxlight);
}

.footer .footerLogo img {
  width: 177px;
  height: 86px;
}

.footer .footerMenu li {
  margin-bottom: 10px;
}

.footer a {
  color: var(--black-light);
  cursor: pointer;
}

.footer a:hover {
  color: var(--gold-veryDark);
}

.footer .contactDetails a {
  border-bottom: 0.5px solid var(--black-light);
  padding: 0px 0px 5px 0px;
}

.footer .contactDetails a:hover {
  border-bottom: 0.5px solid var(--gold-veryDark);
}

.footer .footerSocial {
  width: 100%;
  text-align: center;
}

.footer .footerSocial ul li {
  display: inline-block;
  padding: 0px 10px;
}

.footer .copyrightText {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 100px;
  margin-bottom: 20px;
  text-transform: unset;
  color: var(--grey-9E);
}

@media screen and (max-width: 1440px) {
  .footer .col-md-6 {
    padding: 100px 40px 150px;
  }
  .footer .copyrightText {
    padding: 0px 40px;
  }
  .footer .footerLogo img {
    width: 150px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .footer .contactDetails, .footer .footerMenu {
    width: 50%;
  }
  .footer .footerLogo {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer .col-md-6 {
    padding: 50px 40px 100px;
  }
}

@media screen and (max-width: 767px) {
  .footer .col-md-6 {
    padding: 50px 20px 50px;
  }
  .footer .col-md-6.leftSide {
    padding: 50px 20px 20px;
    background: none;
  }
  .footer .col-md-6.rightSide {
    padding: 50px 20px 200px;
    background-image: url(../images/varius/footer.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: var(--gold-xxlight);
  }
  .footer .copyrightText {
    padding: 0px 20px;
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .copyrightText p {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 575px) {
  .footer .contactDetails, .footer .footerMenu {
    width: 50%;
  }
  .footer .footerLogo {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer .footerSocial {
    text-align: left;
  }
}

/* SCROLL UP  */
.toTop {
  text-align: right;
}

a.scrollup, a:hover.scrollup {
  background: url(../images/varius/scrollup.svg) no-repeat center center;
  background-size: 30px;
  bottom: 20px;
  position: fixed;
  right: 40px;
  text-indent: -9999px;
  width: 52px;
  height: 152px;
  text-decoration: none;
  padding: 0px 0px;
  z-index: 10001;
}

/*END SCROLL UP  */
.landingPage .mainContent {
  height: 100%;
  margin-top: 120px;
}

.mainContent-box {
  padding-left: 60px;
}

.simpleContent .mainContent-box {
  padding: 0px 25%;
}

.mainContent .underLineHeading::after, .pageContent .underLineHeading::after {
  margin-top: 30px;
  width: 200px;
}

.simpleContent .underLineHeading::after {
  margin: 20px auto 0px auto;
}

@media screen and (max-width: 991px) {
  .landingPage .mainContent {
    margin-top: 90px;
  }
  .landingPage .simpleContent {
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .mainContent-box {
    padding-left: 0px;
  }
  .simpleContent .mainContent-box {
    padding: 0px 10%;
  }
  .mainContent .underLineHeading::after, .pageContent .underLineHeading::after {
    margin: 10px auto 10px auto;
    width: 90%;
  }
  .pageContent .underLineHeading {
    text-align: center;
  }
}

.modal {
  z-index: 10500;
}

.modal .modal-content {
  -webkit-box-shadow: 0px 20px 20px #00000045;
          box-shadow: 0px 20px 20px #00000045;
  background: var(--green);
  color: var(--white);
  padding: 20px;
  border-radius: 0px;
  border: none;
  text-align: left;
  font: normal normal 300 19px/30px var(--fontAverta);
  letter-spacing: 0px;
}

.modal .modal-header {
  padding: 0px;
  border: none;
  border-radius: 0px;
}

.modal .close {
  color: var(--white);
  text-shadow: none;
  font-weight: normal;
  font-size: 25px;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .modal .modal-content {
    font: normal normal 300 16px/27px var(--fontAverta);
  }
}

.contactPage .contact-box {
  margin-top: 130px;
}

.contactPage .social ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.contactPage .contactDetails a:last-of-type {
  color: var(--white);
  padding-bottom: 5px;
  border-bottom: 1px solid;
}

.map-box {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.map-box:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

@media screen and (max-width: 1199px) {
  .map-box {
    height: 500px !important;
  }
}

@media screen and (max-width: 767px) {
  .contactPage .contact-box {
    margin-top: 80px;
  }
  .map-box {
    height: 400px !important;
  }
}
/*# sourceMappingURL=style.css.map */